@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-display: "Satoshi", "sans-serif";
  
  --breakpoint-3xl: 1920px;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

}

@layer utilities {
  .font-sans {
    font-family: 'Inter', sans-serif;
  }
}


/* base */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50 h-[200vh]
}


/* Components */

.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl 
  ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15
  transition-[transform,background-color] active:scale-95
}

/* Navbar */

/* 39:11 Missing: transition-filter */
.navbar{
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10
  rounded-2xl ring-inset ring-1 ring-zinc-50/50 scale-90 isolate
  blur-sm opacity-0 invisible transition-[transform,opacity,filter]
}

.navbar.active {
  @apply opacity-100 scale-100 blur-none visible
}

.nav-link {
  @apply grid items-center h-9 px-4 text-sm font-medium
  tracking-wide text-zinc-50/50 hover:text-zinc-50 transition-colors
}

.nav-link.active {
  @apply text-zinc-900 duration-500
}

.navbar .activebox {
  @apply absolute top-2 left-2 right-2 h-9 bg-zinc-50 rounded-lg
         -z-10 transition-[top,left] duration-500
}